html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 4rem;
}

a {
    cursor: pointer;
}

.help-block {
    font-size: 12px;
}
.no-register {
	bottom: 0;
    position: absolute;
    right: 0;
}
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  bottom: 3rem;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 25vw;
  background-color: #777;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: auto;
}
.gray-background {
  background-color: #e0e0e0;
}
/*
 * Sidebar
 */

.sidebar {
  position: absolute;
  top: 3.5rem;
  bottom: 4rem;
  left: 0;
  z-index: 1000;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid rgb(41, 43, 44);
  background-color: rgb(57, 59, 60);;
}
.sidebar-compact {
  max-width: 2.5%;
}
.sidebar-push {
  margin-left: 2.5%;
}
/* Sidebar navigation */
.sidebar {
  padding-left: 0;
  padding-right: 0;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

/*
 * Dashboard
 */

 /* Placeholders */
.placeholders {
  padding-bottom: 3rem;
}

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
/*
 * Home screen - logoff
 */
.img-clip-right {
    float: left;
    clip-path: polygon(0 0, 80% 0%, 100% 100%, 0% 100%);
    shape-outside: polygon(0 0, 80% 0%, 100% 100%, 0% 100%);
    shape-margin: 1rem;
}
.img-clip-left {
    float: right;
    clip-path:polygon(0 0, 100% 0%, 100% 100%, 30% 100%);
    shape-outside: polygon(0 0, 100% 0%, 100% 100%, 30% 100%);
    shape-margin: 1rem;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4rem;
}
.footer > nav {
  min-height: 100%;
}